:root {
  --background: #f7f6f5;
  --red: #c26148;
  --grey: #ebe8e6;
  --white: #ffffff;
  --black: #000000;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.navbar {
  position: fixed;
  top: 32px;
  left: calc(50% - 192px);
  background-color: var(--background);
}

.navbar-parent {
  padding: 8px 32px;
}

.navbar-item {
  font-size: 16px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item {
  margin-right: 24px;
}

.background {
  max-width: 1080px;
  text-align: center;
  margin: auto;
  min-height: 60vh;
}

.background-image {
  max-width: 600px;
  margin: 0 auto;
}

.social-media {
  width: 24px;
  height: 24px;
}

.social-media-gmail {
  width: 20px;
  height: 20px;
}

.experience {
  background-color: var(--grey);
}

.experience-detail {
  max-width: 1280px;
  margin: auto;
}

.projects {
  width: 100%;
  margin-right: 100px;
}

.projects-detail:first-child {
  margin-top: 0;
}

.projects-detail {
  margin-top: 36px;
}

.projects-date {
  color: var(--red);
}

.projects-link {
  color: var(--white);
  background-color: var(--red);
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
}

.works {
  width: 100%;
  max-width: 420px;
}

.works-detail:first-child {
  margin-top: 0;
}

.works-detail {
  margin-top: 16px;
}

.company {
  width: 45px;
  height: 40px;
  border-radius: 50%;
}

.company-image {
  width: 30px;
}

.download {
  background-color: var(--red);
  color: var(--white);
}

.about {
  background-color: var(--red);
}

.about-detail {
  max-width: 1280px;
  margin: auto;
}

.about-education {
  width: 96px;
  height: 96px;
}

.findme {
  background-color: var(--white);
}

.findme-detail {
  max-width: 1280px;
  margin: auto;
}

.findme-card {
  width: 100%;
  height: 100%;
  min-height: 300px;
  perspective: 1000px;
}

.findme-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.findme-card:hover .findme-card-inner {
  transform: rotateY(180deg);
}

.findme-card-front {
  background-color: rgba(235, 232, 230, .4);
}

.findme-card-front, .findme-card-back {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.findme-card-back {
  background-color: var(--red);
  color: white;
  transform: rotateY(180deg);
}

.findme-card-back-button {
  width: fit-content;
  color: var(--red);
  background-color: var(--white);
}

.findme-social-media {
  width: fit-content;
  height: fit-content;
  padding: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .4);
}

.findme-social-media img {
  width: 48px;
}

.footer {
  background-color: var(--background);
}

@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 16px;
    left: calc(50% - 168px);
  }
  
  .navbar-parent {
    padding: 6px 24px;
  }

  .navbar-item {
    font-size: 14px;
  }

  .background-image {
    max-width: 100%;
    margin: 0 auto;
  }

  .company-image {
    width: 24px;
  }

  .about-education {
    width: 64px;
    height: 64px;
  }

  .findme-card {
    min-height: 240px;
  }
  
  .findme-social-media {
    padding: 20px;
  }

  .findme-social-media img {
    width: 32px;
  }
}


@media screen and (max-width: 376px) {
  .navbar {
    position: fixed;
    top: 16px;
    left: calc(50% - 149px);
  }

  .background {
    min-height: 50vh;
  }
  
  .navbar-parent {
    padding: 4px 20px;
  }
  
  .navbar-item {
    font-size: 12px;
  }

  .footer {
    padding: 6px 12px;
  }

  .footer div {
    font-size: 12px;
    text-align: center;
  }
}