.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.body {
  width: 100%;
  height: 100%;
  background-color: #f7f6f5;
}

.navbar {
  position: fixed;
  top: 32px;
  left: calc(50% - 180px);
  background-color: #f7f6f5;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item {
  margin-right: 24px;
}

.background {
  max-width: 1080px;
  text-align: center;
  margin: auto;
}

.background-image {
  max-width: 600px;
  margin: 0 auto;
}

.social-media {
  width: 24px;
  height: 24px;
}

.social-media-gmail {
  width: 22px;
  height: 22px;
}

.experience {
  background-color: #EBE8E6;
}

.experience-detail {
  max-width: 1280px;
  margin: auto;
}

.projects {
  width: 100%;
  margin-right: 100px;
}

.projects-detail:first-child {
  margin-top: 0;
}

.projects-detail {
  margin-top: 40px;
}

.works {
  width: 100%;
  max-width: 420px;
}

.works-detail:first-child {
  margin-top: 0;
}

.works-detail {
  margin-top: 16px;
}

.company {
  width: 45px;
  height: 40px;
  border-radius: 50%;
}

.company-image {
  width: 24px;
}

.download {
  background-color: #c26148;
  color: #ffffff;
}

.education {
  /* background-color: #C26148; */
}

.education-image {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 768px) {
}
